.topright{
  background-color: #FFFFFF;
  float: right;
  font-size: 25px;
  font-family: 'Sarabun', sans-serif;
  margin-bottom: 25px;
}

.topleft{
    background-color: #FFFFFF;
}

input[type=text]{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
