.topright{
  /*background-color: #FFFFFF;*/
  float: right;
  font-size: 25px;
  font-family: 'Sarabun', sans-serif;
  margin-bottom: 25px;
}

body{
    background-color:#F3F3FF;
}

/*
.background{
   background-color: #FFFFFF;
}
*/

.header{
  background-color: white;
}

.form{
    position: absolute;
    top: 40%;
    left: 7%;


}

.catalog{
  position: absolute;
  top: 70%;
  left: 7%;
}

input[type=text]{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
