@font-face{
  font-family: Sarabun;
  src: url(fonts/Sarabun.ttf);
}

.business{
  width: auto;
  height: 250px;
  background-color: #ffffff;
}
.business-image{
  width: 200px;
height: 182px;
border: 1px solid #000000;
box-sizing: border-box;

}

.topright{
  background-color: #FFFFFF;
  float: right;
  font-size: 25px;
  font-family: 'Sarabun', sans-serif;
  margin-bottom: 25px;
  font-family: Sarabun;
}

.topleft{
    background-color: #FFFFFF;
    font-family: Sarabun;
}

input[type=text]{
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
}
i{
  width: 100px;
    height: 100px;
}

.design{

/* Vector 3 */


position: absolute;
width: 162.14px;
height: 1657.36px;
left: -81.48px;
top: 362.4px;

border: 110px solid #D4D4F3;
box-sizing: border-box;
box-shadow: 4px 4px 25px #2558DD;

}
