<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" type = "text.css" href = "main.css">
    <title>GoLocal</title>

    <!--Font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100&display=swap" rel="stylesheet">

</head>
<body>
    <!--Log in and sign in buttons-->
    <a class="topright" href="signup.html"><u>Sign Up</u></a>
    <span class="topright">&nbspor&nbsp</span>
    <a class="topright" href="login.html"><u>Log In</u></a>

    <!--Logo in the left corner-->
    <div class="topleft">
        <a href="index.html">
            <img src="../static/logo.png" width ="700">
        </a>
    </div>

  </body>
</html>
